.loader {
     display: block;
     margin: auto;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background: #FF3D00;
     position: relative;
     margin-top: 50vh;
   }
   .loader:before,
   .loader:after {
     content: "";
     position: absolute;
     border-radius: 50%;
     inset: 0;
     background: #030202;
     transform: rotate(0deg) translate(30px);
     animation: rotate 1s ease infinite;
   }
   .loader:after {
     animation-delay: 0.5s
   }
   @keyframes rotate {
     100% {transform: rotate(360deg) translate(30px)
   }
}
#loaderParent{
  display: none;
     height: 100vh;

}

#ScrollBtn{
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  left: 48%;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.961);
  border-radius: 50%;
  background-color: hwb(5 12% 13% / 0.908);
}
